*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   background: url(alone-boy-star.avif);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;

}

.content{
    width: 100%;
    text-align: center;
    margin-top: 50px;

}
.container{
     /* width: 100%;
    height: 80px; */
    position: relative;
    max-width: 600px;
    margin-left: 100px;
   
   text-align: center;
    /*  border-radius: 40px; */
}

.content input{
    width: 100%;
    /* max-width: 400px; */
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 40px;
    background: transparent;
    border: none;
    font-weight:bolder ;
    color: #ffffff;
}

.border::after, .border::before{
    content: '';
    position: absolute;
    inset: -7px;
    background: conic-gradient(from var(--angle),#06d606, #f91010,#000000,#0088ff,black,rgb(245, 245, 27));
    border-radius: 40px;
    padding: 2px;
    z-index: -2;
}

.border:hover::after{
    animation: glowing 3.5s linear infinite;
    --angle :0deg;
}
box::before{
    z-index: -2;
    filter: blur(20px);
    opacity: 0.9;
}

.border:hover::before{
    animation: blur 3.5s linear infinite;
    --angle :53deg;
}

@keyframes blur {
    from{
        --angle: 53deg;
    } to{
        --angle: 413deg;
    }
    
}
@property --angle{
    syntex:"<angle>";
    initial-value: 53deg;
    inherits: false;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes glowing {
    from{
        --angle: 0deg;
    } to{
        --angle: 360deg;
    }
    
    
}



.box{
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 2px solid wheat;
    background: transparent;
    backdrop-filter: blur(2px);
    
    
}

h1{
    margin-top:10px;
    padding: 30px 0.5px;
    color: black;
    font-size: 3rem;
    font: bolder;
    margin-right:0;
}

.temprature{
    font-size: 2rem;
    font-size:bolder ;
    padding: 10px;
    margin-top:0;
}

.humidity{
    font-size: 2rem;
    padding: 20px;
    font: bolder;
}

.decdisplay{
    font-size: 2rem;
}

.emoji{
    font-size: 12rem;
}

.errordisplay{
    font-size: 2rem;
    padding: 20px;
    margin-bottom: 20px;
}

/* 
.wetherform{
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin: 40px;
}

.cityinput{
    width: 50%;
    padding: 20px;
    margin: 30px;
    left: 20%;
    font-size: 1rem;
    font-weight:bold;
    border-radius: 30px;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    border: 2px solid wheat;
}
*/
button[type="submit"]{
    width:50%;
    /* max-width: 200px; */
    padding: 10px;
    margin: 10px;
    background: transparent;
    color: white;
    border:none;
    font-size: 1.5rem;
    font-weight:bold;
    border-radius: 30px;
    /* border: 2px solid wheat; */
}
 
